* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    min-height: 100vh;
    background: rgb(94, 94, 211);
    color: white;
}

.controls {
    width: 175px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 20px;
    left: 20px;
}

.controls > * {
    margin-bottom: 10px;
}

.bracket {
    width: fit-content;
    padding-top: 20px;
    padding-left: 220px;
    display: grid;
    grid-template-columns: repeat(3, 200px 15px 15px);
    grid-template-rows: repeat(14, 50px);
    
    opacity: 0;
    transition: opacity 1s ease;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(31, 31, 88);
    border: 1px solid rgb(94, 94, 211);
    border-radius: 10px;

    transition: all .5s ease;
}

.bracket-line {
    border: 1px solid white;
    border-left: none;
}

.bracket-exit {
    border-bottom: 1px solid white;
}

.team1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.team2 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.team3 {
    grid-column: 1/2;
    grid-row: 5/6;
}

.team4 {
    grid-column: 1/2;
    grid-row: 6/7;
}

.team5 {
    grid-column: 1/2;
    grid-row: 9/10;
}

.team6 {
    grid-column: 1/2;
    grid-row: 10/11;
}

.team7 {
    grid-column: 1/2;
    grid-row: 13/14;
}

.team8 {
    grid-column: 1/2;
    grid-row: 14/15;
}

.team9 {
    grid-column: 4/5;
    grid-row: 3/4;
}

.team10 {
    grid-column: 4/5;
    grid-row: 4/5;
}

.team11 {
    grid-column: 4/5;
    grid-row: 11/12;
}

.team12 {
    grid-column: 4/5;
    grid-row: 12/13;
}

.team13 {
    grid-column: 7/8;
    grid-row: 7/8;
}
.team14 {
    grid-column: 7/8;
    grid-row: 8/9;
}

.bracket-line1 {
    grid-column: 2/3;
    grid-row: 2/6;
}

.bracket-exit1 {
    grid-column: 3/4;
    grid-row: 3/4;
}

.bracket-line2 {
    grid-column: 2/3;
    grid-row: 10/14;
}

.bracket-exit2 {
    grid-column: 3/4;
    grid-row: 11/12;
}

.bracket-line3 {
    grid-column: 5/6;
    grid-row: 4/12;
}

.bracket-exit3 {
    grid-column: 6/7;
    grid-row: 7/8;
}
